.projects {
  margin-top: 10px;
  font-size: 12px;

  .page-name {
    font-weight: 900;
  }

  .projects-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
  }
}
