.full-width-img {
  width: 100%;
}

.square-img {
  width: calc((70vw - 40px) / 5);
  height: calc((70vw - 40px) / 5);
}

.normal-link {
  text-decoration: none;
  color: black;
  cursor: pointer;

  &:hover {
    font-weight: 500;
  }
}

@media (max-width: 1023px) {
  .square-img {
    width: calc((100vw - 50px) / 2);
    height: calc((100vw - 50px) / 2);
  }
}
