.project-description-page {
  font-size: 12px;

  .project-name {
    margin-top: 20px;
  }

  .section-name {
    margin-top: 10px;
    font-weight: 600;
  }

  .project-descriptions {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
